#nope .nope {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nope {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.nope .notfound404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.nope .notfound404 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #225519;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nope .notfound404 h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #225519;
  background: #fff;
  padding: 4px 4px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.nope a {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #225519;
  font-size: 18px;
  transition: 0.22s all;
}

.nope a:hover {
  color: #ff666f;
  background: #225519;
}
