<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 - Not Found</title>
	<link type="text/css" rel="stylesheet" href="css/404.css" />
</head>
<body>
	<div id="nope">
		<div class="nope">
			<div class="notfound404">
			<!-- It is common to return 404 for a resource not being found -- temporary or permanent. -->
				<h1>404</h1>
				<h2>Resource not available here</h2>
			</div>
			<a href="presentations.html#headerContact">Ask me</a>
		</div>
	</div>
</html>
